ul {
  list-style-type: none;
}
li {
  display: flex;
  gap: 30px;
}
.labels {
  display: flex;
  margin-left: 100px;
  text-decoration: underline;
}
.bodyT {
  padding-left: 120px;
}
.date {
  padding-left: 120px;
}
