ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  gap: 10px;
}
li {
  display: grid;
  flex-wrap: wrap;
  border: solid 1px black;
  height: fit-content;
  width: 200px;
  /* background-image: linear-gradient(to bottom right, purple, lightgray); */
  box-shadow: 5px 5px 5px 0 lightgray;
  border-radius: 10px;
  border: 10px;
  border: solid 1px lightgray;
  word-break: break-all;
}

.labels {
  display: flex;
  margin-left: 41px;
  text-decoration: underline;
  font-size: 40px;
  height: 40px;
  padding-bottom: 10px;
}
.theNoteTitle {
  margin: 2px;
  font-size: 30px;
}
.bodyT {
  padding-left: 10px;
}
.date {
  padding-left: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.titleField {
  display: grid;
  justify-content: center;
}
.noteField {
  display: grid;
  justify-content: center;
}
.titleText {
  font-family: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  width: 300px;
  height: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.noteText {
  width: 300px;
  height: 100px;
  justify-content: flex-start;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "exo", sans-serif;
}
.bodyNote {
  padding-bottom: 10px;
  border-bottom: solid 1px lightgray;
  border-top: solid 1px lightgray;
  font-family: "exo", sans-serif;
  font-size: 20px;
  word-break: break-all;
}

h3 {
  margin: 0px;
}
.title {
  font-family: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
p {
  font-family: "exo", sans-serif;
}
button {
  background-color: white;
  font-family: "exo", sans-serif;
  border-radius: 10px;
  font-weight: bolder;
  color: black;
}
input {
  font-family: "exo", sans-serif;
  /* background-image: linear-gradient(to bottom right, purple, gray); */
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 lightgray;
  font-size: 20px;
}
.editTitle {
  font-family: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  /* background-image: linear-gradient(to bottom right, purple, lightgray); */
  word-break: break-all;
  width: 180px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 lightgray;
  border: solid 1px lightgray;
}
.titleText::placeholder {
  font-family: "roboto", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  /* color: white; */
  opacity: 1;
}
input::placeholder {
  font-family: "exo", sans-serif;
  /* color: white; */
  opacity: 1;
}
.radio {
  box-shadow: none;
}
/* h3 { */
/* border: solid 1px lightgray; */
/* } */
/* .bodyNote { */
/* /~ border: solid 1px lightgray; ~/ */
/* width: 300px; */
/* height: 100px; */
/* } */ ;
